<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Geo Varghese</author>
	<label>Quick Web Proxy</label>
	<description>It will help you to create a web proxy server using your hosting server or external proxy servers</description>
	<version>1.0.0</version>
	<website>https://www.seopanel.in/plugin/l/94/quick-web-proxy/</website>	
</plugin>
